<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CreateUser Template</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
        
      <form class="form-signin" action="/createUser" method="POST">
          {% if success %}
            <h3 class="form-signin-heading">Account successfully created.</h3>
          {% else %}
          {% if badPass %}
            <h3 class="form-signin-heading">Password incorrect.</h3>
          {% endif %}
          {% if nameTaken %}
            <h3 class="form-signin-heading">Username taken.</h3>
          {% endif %}
        <h2 class="form-signin-heading">Create New Account</h2>
        <label for="inputName" class="sr-only">Desired Username</label>
        <input name = "username" type="text" id="inputName" class="form-control" placeholder="Desired Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name = "password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
          {% endif %}
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>