<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Here are the jirga questions on which you can vote:</h1>
<ul class="jirga-memberships">
    {% for question in questions %}
        <li class="list-group-item"><a href="viewQuestion/{{question.qId}}">{{question.questionString}}</a></li>
    {% endfor %}
</ul>
<h1>Here are the jirgas in which you are a member or owner:</h1>
<ul class="jirga-memberships">
    {% for jirga in jirgasmem %}
        <li class="list-group-item"><a href="jirgaSettings/{{jirga.jirgaId}}">{{jirga.title}}</a></li>
    {% endfor %}
</ul>
<h1>Here are some public jirgas you may want to join:</h1>
<ul class="public-jirgas">
    {% for jirga in jirgaspub %}
        <li class="list-group-item"><a href="jirgaSettings/{{jirga.jirgaId}}">{{jirga.title}}</a></li>
    {% endfor %}
</ul>
<a href="/makeQuestion"><h1>Ask your jirgas a question.</h1></a>
<a href="/makeJirga"><h1>Make a new jirga.</h1></a>
</body>
</html>