<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jirga Settings</title>

     <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">

      <link href="dist/css/custom-button.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class = "navbar-brand">Jirga</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              {% if not loggedIn %}
              <li><a href="/login">Log In</a></li>
              <li><a href="/createUser">Sign Up</a></li>
              {% else %}
              <li><a href="/">Home</a></li>
              {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div>

<!-- Docs page layout -->
    <div class="bs-docs-header" id="content" tabindex="-1">
      <div class="container">
        <h2>Jirga settings for</h2>
          <h1>{{jirga.title}}</h1>
      </div>
    </div>

    <div class = "container">
        <div class="jumbotron">
            {% if public == 0 %}
            <h2>There are currently {{ members|length }} members in this Jirga.</h2>
            <select id="memberselect" class="form-control" >

                {% for member in members %}
                        <option value="{{ member.key.id }}">{{ member.username }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-custom" >Remove member from the Jirga</button>
            <form action="/add2Jirga" method="POST">
                <div class="form-group">
                    <label for="user" class="col-sm-2 control-label"><h5>Add a user to this Jirga:</h5></label>
                    <div class="col-sm-7">
                        <input name = "user" type="text" class="form-control" id="user">
                     </div>
                </div>
                <div class="form-horizontal col-sm-2" >

                        <button type="submit" class="btn btn-custom">Add User</button>
                        <input type="hidden" name="jirga" value={{ jirga.jirgaId }}>

                </div>
            </form>
            {% else %}
                <h2>There are currently {{ members|length }} members in this Jirga.</h2>
                <form id="removeOther" action="/removeFromJirga" method="POST">
                <select id="memberselect" class="form-control">
                {% for member in members %}
                        <option value="{{ member.key.id }}">{{ member.username }}</option>
                {% endfor %}
                </select>
                </form>

                {% if member == 0 %}


                    <form id="addMe" action="/add2Jirga" method="POST">
                    <button type="submit" class="btn btn-custom">Add me to this Jirga!</button>
                         <input type="hidden" name="jirga" value={{ jirga.jirgaId }}>
                        <input type="hidden" name="user" value={{ user.username }}>
                    </form>

                {% else %}
                    <form id="removeMe" action="/removeFromJirga" method="POST">
                    <button type="submit" class="btn btn-custom">Remove me from this Jirga!</button>
                        <input type="hidden" name="jirga" value={{ jirga.jirgaId }}>
                        <input type="hidden" name="user" value={{ user.username }}>
                    </form>
                {% endif %}
            {% endif %}
            </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>